.table-container {
    width: 95%;
    margin-top: 8%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgrey;
    margin-left: 20px;
}

@media (max-width: 520px) {
    .table-container {
        width: 90.5%;
        margin-left: 10px;
    }
   
}