.table-container {
    width: 95%;
    margin-top: 8%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgrey;
    margin-left: 20px;
}
.noData-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.text-noData {
    text-align: center;
    color: #012326;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.img-noData {
    width: 20%;
    text-align: center;
    object-fit: cover;
    padding-left: 40%;
}

.title-employee {
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #012326;
    margin-bottom: -5%;
}

@media (max-width: 520px) {
    .table-container {
        width: 90.5%;
        margin-left: 10px;
    }

    .title-employee {
        margin-left: 10px;
    }
   
}