.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
}

.home-presentation {
    width: 50%;
}

.home-form {
    width: 50%;
}

@media (max-width: 520px) {
    .home-container {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    .home-presentation {
        width: 100%;
    }
    
    .home-form {
        width: 100%;
    }
}